.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #fff;
	color: #000;
	clip: auto !important;
	clip-path: none;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 20px 0;
	line-height: normal;
	text-decoration: none;
	z-index: 100000;
	text-align: center;
	text-transform: uppercase;
	font-family: var(--body-alt-font);
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/* Setting dark-mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222;
    --fg-color: #bdc3c7;
  }

  img {
    opacity: 0.75 !important;
    transition: opacity var(--transition-duration) !important;
  }

  img:hover {
    opacity: 1 !important;
  }

  figcaption a {
    color: #fff !important;
  }

  line-height: 1.75rem !important;
}
