.archive-header {
  @extend %col;
  margin-top: -5rem;
  margin-bottom: 3rem;
}

.archive-header__title {
  font-family: var(--body-alt-font);
  font-size: 3rem;
}

.archive-header__title__type {
  font-size: 1.2rem;
  display: block;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.archive-header--portfolio {
  @extend %wide-col;
  margin-top: -5rem;
  margin-bottom: 3rem;

  .archive-header__title__type {
    display: none;
  }
}

.content-404 {
  @extend %col;
  margin-bottom: 5rem;
}

.content-404 h2 {
  margin-top: 2rem;
}
