.comments-area {
  background: var(--fade1-color);
  padding: 5rem 0;
  margin-top: 5rem;
  font-size: 0.9rem;
}

.no-comments {
  padding: 0;
  @extend %col;
  font-family: var(--body-alt-font);
  text-transform: lowercase;
  font-variant: small-caps;
  text-align: center;
}

.comment-list {
  padding: 0;
  @extend %col;
}

.comment-list li {
  list-style: none;
  margin-bottom: 2rem;
}

.comment-author img,
.comment-list .reply,
.comment-list .says {
  display: none;
}

.comment-author,
.comment-author a {
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
}

.comment-metadata {
  display: none;
}

.comment-content {
  font-family: var(--body-alt-font);
  margin-top: -1rem;
}

/* Form */
.comment-respond {
  @extend %col;
  font-family: var(--body-alt-font);
}

.comment-form .comment-notes {
  display: none;
}

.comment-form label {
  font-variant: small-caps;
  text-transform: lowercase;
  display: block;
}

.comment-form label[for="wp-comment-cookies-consent"] {
  display: inline;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"],
.comment-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0;
  border: 1px solid var(--fg-color);
  color: var(--fg-color);
  background-color: transparent;
}

.comment-form input:focus,
.comment-form textarea:focus {
  background: var(--fade1-color);
  outline: none;
}


.comment-form input[type="submit"] {
  border: none;
  color: var(--bg-color);
  background-color: var(--fg-color);
  text-transform: uppercase;
  font-weight: bold;
}

.comment-form .required {
  display: none;
}
