.comments-area {
  background: var(--fade1-color);
  padding: 5rem 0;
  margin-top: 5rem;
  font-size: 0.9rem;
}

.comments-area > ol,
.comments-area > div {
  @extend %col;
}

.no-comments {
  padding: 0;
  font-family: var(--body-alt-font);
  text-transform: lowercase;
  font-variant: small-caps;
  text-align: center;
}

.comment-list {
  padding: 0;
}

.comment-list li {
  list-style: none;
  margin-bottom: 2rem;
}

.comment-author img,
.comment-list .reply,
.comment-list .says {
  display: none;
}

.comment-author,
.comment-author a {
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
}

.comment-metadata {
  display: none;
}

.comment-content {
  font-family: var(--body-alt-font);
  margin-top: -1rem;
}

/* Form */
.comment-respond {
  font-family: var(--body-alt-font);
}

.comment-form .comment-notes {
  display: none;
}

.comment-form label {
  font-variant: small-caps;
  text-transform: lowercase;
  display: block;
}

.comment-form label[for="wp-comment-cookies-consent"] {
  display: inline;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"],
.comment-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0;
  border: 1px solid var(--fg-color);
  color: var(--fg-color);
  background-color: transparent;
}

.comment-form input:focus,
.comment-form textarea:focus {
  background: var(--fade1-color);
  outline: none;
  box-shadow: inset 0 0 0 2px var(--fg-color);
}


.comment-form input[type="submit"] {
  border: none;
  color: var(--bg-color);
  background-color: var(--fg-color);
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--fg-color);

  &:focus {
    box-shadow: inset 0 0 0 2px var(--bg-color);
  }
}

.comment-form .required {
  display: none;
}

/* Webmention */
#webmention-form {
  @extend %col;
  font-family: var(--body-alt-font);
}

#webmention-form p {
  margin: 0;
}

#webmention-form input[type="url"],
#webmention-form input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0;
  border: 1px solid var(--fg-color);
  color: var(--fg-color);
  background-color: transparent;
}

#webmention-form input[type="submit"] {
  border: none;
  color: var(--bg-color);
  background-color: var(--fg-color);
  text-transform: uppercase;
  font-weight: bold;
}

// Semantic linkbacks
.likes,
.reposts {
  font-family: var(--body-alt-font);

  h3 {
    margin-bottom: 0;
  }
}

.mention-list {
  padding: 0;
  margin: 0;

  .p-author img {
    border-radius: 100%;
    border: 4px solid var(--bg-color);
    margin-right: -32px;
    transition: 300ms all ease;
    background-color: var(--fg-color);
  }

  &:hover .p-author img{
    margin-right: 0;
  }
}
