.footer {
  padding: 1rem;
  margin: 0;
  background: rgba( 255, 255, 255, 0.4 );
  font-family: var(--body-alt-font);
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.footer__content {
  @extend %col;
}
