.header {
  @extend %col;
}

.header__title {
  font-family: var(--mono-font);
  font-kerning: normal;
	letter-spacing: -0.5px;
  line-height: 1;
  font-size: 3rem;
  margin-top: 12.5rem;
  margin-bottom: 0.15rem;
}

.header__description {
  font-style: italic;
}

.header__text {
  margin: 0.75rem 0;
}

// header_type_bar is the smaller header that
// is used on inner pages
.header_type_bar {
  @extend %col;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.header_type_bar__title {
  font-family: var(--body-alt-font);
  font-size: 1rem;
}

.header_type_bar__description {
  font-weight: normal;
  font-style: italic;
}
