.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center center;
}

.header__container {
  @extend %col;
  margin-top: 10vh;
}

.header__title {
  @extend %heading;
  font-family: var(--mono-font);
  font-weight: normal;
  letter-spacing: -2px;
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
  //margin-bottom: 0.15rem;
}

.header__description {
  font-style: italic;
  margin: 0 0 1.5rem 0;
}

.header__text {
  margin: 0;

  p {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}

// header_type_bar is the smaller header that
// is used on inner pages
.header_type_bar {
  @extend %col;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.header_type_bar__title {
  @extend %heading;
  font-family: var(--body-alt-font);
  font-size: 1rem;
}

.header_type_bar__description {
  font-weight: normal;
  font-style: italic;
}
