// Top navigation
.top-navigation {
  list-style: none;
  font-family: var(--body-alt-font);
  font-weight: 700;
  text-transform: uppercase;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;

  li {
    display: inline;
    margin-right: 1rem;

    a {
      text-decoration: none;
    }
  }
}

.top-navigation_type_bar {
  font-weight: normal;
}

// Post navigation
.post-navigation,
.posts-navigation {
  background: var(--fade2-color);
  font-family: var(--body-alt-font);

  .nav-links {
    @extend %col;
  }

  .nav-previous,
  .nav-next {
    width: 50%;
    display: inline-block;

    a {
      display: block;
      padding: 2rem;
      text-decoration: none;
      transition: all 333ms ease;

      &:hover {
        padding: 2rem 1rem;
      }
    }
  }

  .nav-next {
    text-align: right;

    a:after {
      content: ' →';
    }
  }

  .nav-previous a:before {
    content: '← ';
  }
}
