// Top navigation
.top-navigation {
  list-style: none;
  font-family: var(--body-alt-font);
  font-weight: 700;
  text-transform: uppercase;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
    margin-right: 1rem;

    a {
      text-decoration: none;
    }
  }
}

.top-navigation_type_bar {
  font-weight: normal;
}

.top-navigation--portfolio li {
  margin-right: 0;
  margin-left: 1rem;

  @media only screen and (max-width: 660px) {
    margin-right: 1rem;
    margin-left: 0;

  }
}

// Post navigation
.post-navigation,
.posts-navigation {
  background: var(--fade2-color);
  font-family: var(--body-alt-font);

  .nav-links {
    @extend %col;
    display: flex;
  }

  .nav-previous,
  .nav-next {
    display: inline-block;
    width: 100%;

    a {
      display: block;
      padding: 2rem 0;
      text-decoration: none;
      transition: all var(--transition-duration) ease;
    }
  }

  .nav-next a:hover {
    padding-left: 1rem;
    margin-right: -1rem
  }

  .nav-previous a:hover {
    padding-right: 1rem;
    margin-left: -1rem;
  }

  .nav-next {
    text-align: right;

    a:after {
      content: ' →';
    }
  }

  .nav-previous a:before {
    content: '← ';
  }
}
