.content {
  @extend %col;
  margin-top: 10rem;
  margin-bottom: 10rem;
  //background-image: url('baseline.png');

  &:hover {
    .content__meta {
      opacity: 1;
    }
  }
}

.content__meta {
  width: 10rem;
  margin-top: 0;
  margin-left: -11rem;
  float: left;
  text-align: right;
  font-size: 0.75rem;
  line-height: 1.5rem;
  opacity: 0;
  transition: 0.3s all ease;

  span {
    display: block;
  }

  a {
    text-decoration: none;
  }
}

.content__meta__tags a {
  font-family: var(--body-alt-font);
  background: var(--fade2-color);
  font-variant: small-caps;
  border-radius: 2px;
  padding: 0 7px 3px 7px;
  margin-left: 3px;
}

.content__title {
  @extend %heading;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
}

.content__title_type_big {
  font-size: 3rem;
  margin: 0;
  margin-top: 1.1rem;
  margin-bottom: -0rem;
  letter-spacing: -1px;
  line-height: 3rem;
}

.content__title_type_status {
  font-family: var(--body-alt-font);
  font-weight: 100;
  font-size: 3rem;
  line-height: 3rem;
}

.content__body {
  p {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  blockquote {
    margin: 0 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-style: italic;
    font-weight: 300;
  }
}

.content__body_type_aside {
  p {
    font-family: var(--body-alt-font);
  }

  blockquote p,
  blockquote {
    font-family: var(--body-font);
  }
}
