article.page,
article.post {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-image: url('baseline.png');
}

.entry-meta {
  margin-top: 1.7rem;
  font-size: 0.75rem;
  line-height: 1.2;
  text-align: right;
  width: 19rem;
  padding-right: 1rem;
}

.entry-meta a {
  text-decoration: none;
}

.entry-meta span {
  display: block;
}

.entry {
  width: 40rem;
}

.entry-header .entry-title a {
  font-size: 2rem;
  line-height: 3rem;
  /* line-height: 1; */
  /* letter-spacing: -1px; */
  /* font-size: 4rem; */
  /* margin-top: 1.5rem; */
  /* margin-bottom: -0.3rem; */
}

.entry-header h1 {
  font-family: var(--heading-font);
  font-kerning: normal;
  margin-top: 1.1rem;
  margin-bottom: -0.3rem;
  font-size: 3rem;
  letter-spacing: -1px;
  line-height: 1.1;
  color: red;
}

.entry-title.type-status {
  width: 40rem;
}

.entry-content p {
  margin-bottom: 1.5rem;
}

/* Post format */
.type-status {
  font-family: var(--body-alt-font);
  font-weight: 100;
  font-size: 3rem;
}

.type-aside {
  font-family: var(--body-alt-font);
}
