.content {
  @extend %col;
  margin-top: 0rem;
  margin-bottom: 50vh;
  padding-top: 0;
  transition: all var(--transition-duration) ease;
  //background-image: url('baseline.png');

  &:hover {
    .content__meta {
      opacity: 1;
      margin-left: -11rem;
    }
  }

  &.sticky {
    border: 2px solid var( --fg-color );
    padding: 2rem 3rem;

    .content__meta {
      display: none;
    }
  }
}

.content_type_hidden {
  opacity: 0;
  padding-top: 10rem;
}

.content__meta {
  width: 10rem;
  margin-top: 0;
  margin-left: -11.5rem;
  float: left;
  text-align: right;
  font-size: 0.75rem;
  line-height: 1.5rem;
  opacity: 0;
  transition: all var(--transition-duration) ease;

  span {
    display: block;
  }

  a {
    text-decoration: none;
  }

  @media only screen and (max-width: 820px) {
    display: none;
  }
}

.content__meta__tags a {
  font-family: var(--body-alt-font);
  background: var(--fade2-color);
  font-variant: small-caps;
  border-radius: 2px;
  padding: 0 7px 3px 7px;
  margin-left: 3px;
}

.content__title {
  @extend %heading;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
}

.content__title_type_big {
  font-size: 3rem;
  margin: 0;
  margin-top: 1.1rem;
  margin-bottom: 1.5rem;
  letter-spacing: -1px;
  line-height: 3rem;
}

.content__title_type_status {
  font-family: var(--body-alt-font);
  font-weight: 100;
  font-size: 3rem;
  line-height: 3rem;
}

.content__body {
  pre,
  p {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .wp-block-cover-text {
    font-family: var(--body-alt-font);
  }

  pre {
    font-family: var(--mono-font);
    white-space: pre-wrap;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--fg-color);
  }

  img {
    max-width: 100%;
  }

  .wp-caption,
  .wp-caption-text,
  .gallery-caption,
  figcaption {
    font-family: var(--body-alt-font);
  }

  blockquote.is-style-large,
  blockquote {
    padding: 0;
    margin: 0 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-style: italic;
    font-weight: 300;

    cite {
      text-align: right;
      display: block;
      font-size: 0.7rem;
      margin-top: -1.5rem;
      opacity: 0;
      transition: opacity var(--transition-duration) ease;
      font-family: var(--body-alt-font);
    }

    &:hover cite {
      opacity: 1;
    }
  }

  .wp-block-quote.is-large p,
  .wp-block-quote.is-style-large p,
  blockquote.is-style-large {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .wp-block-pullquote {
    padding: 3rem 0;

    p {
      line-height: 2.5rem;
      margin-bottom: 0;
    }

    &.is-style-solid-color {
      padding: 2rem;

      blockquote {
        max-width: 100%;
      }
    }

    blockquote {
      margin: 0;

      cite {
        font-family: var(--body-alt-font);
        text-align: inherit;
        margin-top: 0;
        opacity: 1;
      }
    }
  }

  .alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
  }

  .alignwide {
    margin-left: calc(25% - 25vw);
    margin-right: calc(25% - 25vw);
    width: auto;
    max-width: 1000%;
  }

  .alignleft {
    margin-left: -4rem;
    margin-right: 1.5rem;
    margin-top: 0.3rem;
  }

  .alignright {
    margin-right: -4rem;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
  }

  .aligncenter {
    margin-top: 0;
  }
}

.content__body_type_aside {
  p {
    font-family: var(--body-alt-font);
  }

  blockquote p,
  blockquote {
    font-family: var(--body-font);
  }
}
