article.page,
article.post {
  @extend %col;
  margin-top: 3rem;
  margin-bottom: 3rem;
  //background-image: url('baseline.png');
}

.entry-meta {
  font-size: 0.75rem;
  line-height: 1.2;
  text-align: right;

  width: 10rem;
  margin-left: -11rem;
  float: left;
}

.entry-meta a {
  text-decoration: none;
}

.entry-meta span {
  display: block;
}

.entry {

}

.entry-header .entry-title {
  @extend %heading;
}

.entry-header h2 {
  font-size: 2rem;
}

.entry-header h1 {
  margin-top: 1.1rem;
  margin-bottom: -0.3rem;
  font-size: 3rem;
  letter-spacing: -1px;
  line-height: 1.1;
}

.entry-content p {
  margin-bottom: 1.5rem;
}

/* Post format */
.type-status {
  font-family: var(--body-alt-font);
  font-weight: 100;
  font-size: 3rem;
}

.type-aside {
  font-family: var(--body-alt-font);
}

// Type
blockquote,
blockquote p {
  margin: 0 1.5rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-style: italic;
  font-weight: 300;
}
