.content {
  @extend %col;
  margin-top: 0rem;
  margin-bottom: 50vh;
  padding-top: 0;
  transition: all var(--transition-duration) ease;
  //background-image: url('baseline.png');

  &:hover {
    .content__meta {
      opacity: 1;
      margin-left: -11rem;
    }
  }

  &.sticky {
    border: 2px solid var( --fg-color );
    padding: 2rem 3rem;

    .content__meta {
      display: none;
    }
  }
}

.content_type_hidden {
  opacity: 0;
  padding-top: 10rem;
}

.content__meta {
  width: 10rem;
  margin-top: 0;
  margin-left: -11.5rem;
  float: left;
  text-align: right;
  font-size: 0.75rem;
  line-height: 1.5rem;
  opacity: 0;
  transition: all var(--transition-duration) ease;

  span {
    display: block;
  }

  a {
    text-decoration: none;
  }

  @media only screen and (max-width: 820px) {
    display: none;
  }
}

.content__meta__tags a {
  font-family: var(--body-alt-font);
  background: var(--fade2-color);
  font-variant: small-caps;
  border-radius: 2px;
  padding: 0 7px 3px 7px;
  margin-left: 3px;
}

.content__title {
  @extend %heading;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
  word-wrap: break-word;
}

.content__title_type_big {
  font-size: 3rem;
  margin: 0;
  margin-top: 1.1rem;
  margin-bottom: 1.5rem;
  letter-spacing: -1px;
  line-height: 3rem;
}

.content__title_type_status {
  font-family: var(--body-alt-font);
  font-weight: 100;
  font-size: 3rem;
  line-height: 3rem;
}

.bypostauthor {
  font-family: var(--body-alt-font);
}

.content__body {
  pre,
  p {
    margin: 0;
    margin-bottom: 1.5rem;
    line-height: 1.5;
  }

  pre {
    font-family: var(--mono-font);
    white-space: pre-wrap;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--fg-color);
  }

  figure,
  img {
    height: auto;
    max-width: 100%;
    margin-left: 0;
  }

  @import 'wp';
}

.post_format-post-format-chat .content__body{
  font-family: var(--mono-font);
  font-size: 0.75rem;
}

.post_format-post-format-status .content__body {
  font-family: var(--body-alt-font);
  font-weight: 100;
  font-size: 3rem;
  line-height: 3rem
}

.post_format-post-format-aside .content__body,
.content__body_type_aside {
  p {
    font-family: var(--body-alt-font);
  }

  blockquote p,
  blockquote {
    font-family: var(--body-font);
  }
}
