.wp-block-cover-text {
  font-family: var(--body-alt-font);
}

.wp-block-image,
img {
  margin: 0;
  max-width: 100%;
}

.wp-caption,
.wp-caption-text,
.gallery-caption,
figcaption {
  font-family: var(--body-alt-font);
  font-size: 0.7rem;
  line-height: 1.5;
  color: var(--fg-color);
}

blockquote.is-style-large,
blockquote {
  padding: 0;
  margin: 0 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-style: italic;
  font-weight: 300;

  cite {
    text-align: right;
    display: block;
    font-size: 0.7rem;
    margin-top: -1.5rem;
    opacity: 0;
    transition: opacity var(--transition-duration) ease;
    font-family: var(--body-alt-font);
  }

  &:hover cite {
    opacity: 1;
  }
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p,
blockquote.is-style-large {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.wp-block-pullquote {
  padding: 3rem 0;

  p {
    line-height: 2.5rem;
    margin-bottom: 0;
  }

  &.is-style-solid-color {
    padding: 2rem;

    blockquote {
      max-width: 100%;
    }
  }

  blockquote {
    margin: 0;

    cite {
      font-family: var(--body-alt-font);
      text-align: inherit;
      margin-top: 0;
      opacity: 1;
    }
  }
}

.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: auto;
  max-width: 1000%;
}

.alignwide {
  margin-left: calc(25% - 25vw);
  margin-right: calc(25% - 25vw);
  width: auto;
  max-width: 1000%;
}

// If the first element on the post is a left aligned image then we can't
// have it coming out of the content body since the meta data is to its
// left. So we remove the margin for the first instance of it. This isn't
// ideal, but I can't think of any other way.
// Hack from: https://stackoverflow.com/a/8539107/366138
& > .alignleft {
  margin-left: 0;
}

> .alignleft ~ .alignleft {
  margin-left: -4rem;
}

.alignleft {
  float: left;
  margin-right: 1.5rem;
  margin-top: 0.3rem;
  @media only screen and (max-width: 660px) {
    margin-left: 0;
  }
}

.alignright {
  float: right;
  margin-right: -4rem;
  margin-left: 1.5rem;
  margin-top: 0.3rem;

  @media only screen and (max-width: 660px) {
    margin-right: 0;
  }
}

.aligncenter {
  margin: 0;
}

.wp-block-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  @media only screen and (max-width: 660px) {
    flex-direction: column;
  }
}

.wp-block-column {
  flex: 1;
  margin: 0;
  margin: 0 0.5rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @media only screen and (max-width: 660px) {
    margin: 0;
  }
}

.wp-block-button__link {
  background-color: var(--fg-color);
  color: var(--bg-color);
  border-radius: 0.5rem;
  font-family: var(--body-alt-font);
  text-transform: lowercase;
  font-variant: small-caps;
  line-height: 100%;
}

.is-style-outline .wp-block-button__link {
  border-radius: 0;
  border: 1px solid var(--fg-color);
  background: transparent;
  color: var(--fg-color)
}

.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.wp-block-spacer {
  content: '';
  display: table;
  clear: both;
}

.wp-block-gallery .blocks-gallery-item {
  figcaption {
    transition: opacity var(--transition-duration) ease,
      padding-bottom var(--transition-duration) ease;
    opacity: 0;
    line-height: 1rem;
    margin: 0;
    max-width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  &:hover figcaption {
    opacity: 1;
    padding-bottom: 1rem;
  }
}

p.has-drop-cap:not(:focus):first-letter {
  font-size: 4rem;
}

table {
    font-family: var(--body-alt-font);
    border-collapse: collapse;
    width: 100%;

    td, th {
      border: 1px solid var(--fg-color);
      padding: 0.5rem;
      text-align: left;
    }

    &.is-style-stripes {
      td, th {
        border: none;
      }

      tr:nth-child(odd) {
        background: var(--fade2-color);
      }
    }
}

.page-links {
  font-family: var(--body-alt-font);
  text-transform: uppercase;
  font-size: 0.75rem;
  opacity: 0.8;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery-item {
  margin: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 15%;
}

.gallery-columns-7 .gallery-item {
  width: 12%;
}

.gallery-columns-8 .gallery-item {
  width: 12%;
}

.gallery-columns-9 .gallery-item {
  width: 9%;
}
