h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

pre,
p {
  margin: 0;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

pre {
  font-family: var(--mono-font);
  white-space: pre-wrap;
}

hr {
  border: none;
  border-bottom: 1px solid var(--fg-color);
}

figure,
img {
  height: auto;
  max-width: 100%;
  margin-left: 0;
}
